{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Lnu times{% endblock title %}</title>
    <script src="{% static 'timeedit/js/jquery.2.1.3.min.js' %}"></script>
    <script src="{% static 'timeedit/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'timeedit/js/jquery-ui.min.js' %}"></script>
    <!--<script type="text/javascript" src="http://xregexp.com/xregexp.js"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'timeedit/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'timeedit/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'timeedit/css/core.css' %}">
    </head>
<body>
<div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
        <div class="search">
            <div class="row">
                <h3>Search for you course</h3>
            </div>
	    {% if message %}
            <div class="row">
	      <h4>{{ message }}</h4>
	    </div>
	    {% endif %}
            <div class="row">
                {{ form.errors }}
            </div>
            <form method="post" name="form" action="">{% csrf_token %}
                <div class="row">
                    {{ form.course }}
                </div>
                <div class="row" style="margin-top: 10px">
                    <button class="btn btn-lg btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
