
body {
    background-image: url("/static/timeedit/img/background.png");
}

.search{
    margin-top: 10px;
    background-image: url("/static/timeedit/img/background.png");

}

.well{
    /*background-image: url("/static/timeedit/img/background.png");*/
    border: 2px solid #333;
    background-color: #EAE5D0;
}

#header{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50pt;
}
#headertext{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25pt;
    color: #333;
}

#headertexterror{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20pt;
    color: darkred;
}
#modalheader{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20pt;
    color: #333;
}
#modaltext{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15pt;
    color: #333;
}
#searchbutton{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #333;
    font-size: 100%;
}

.btn{
    width: 100%;
}

.buttonrow{
    margin-top: 20px;
}

.inputrow {
    margin-top: 20px;
}


#id_course{
    width: 100%;
}

.events {
    margin-top: 20pt;
}

#betatext{
    margin-right: -90pt;
    margin-bottom: -35pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: firebrick;
}