{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html style="height: 100%; margin: 0; padding: 0;">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>UniTime</title>

    <!-- Scripts Start -->
    {% compress js %}
        <script src="{% static 'angular/js/lib/jquery-2.1.4.min.js' %}"></script>

        <script src="{% static 'angular/js/lib/angular.js' %}"></script>
        <script src="{% static 'angular/js/lib/angular-route.js' %}"></script>
        <script src="{% static 'angular/js/lib/angular-resource.js' %}"></script>
        <script src="{% static 'angular/js/lib/angular-sanitize.min.js' %}"></script>
        <script src="{% static 'angular/js/lib/angular-cookies.js' %}"></script>
        <script src="{% static 'angular/js/lib/moment.js' %}"></script>

        <script src="{% static 'angular/js/lib/bootstrap.min.js' %}"></script>

        <script src="{% static 'angular/js/lib/underscore-min.js' %}"></script>

        <script src="{% static 'angular/js/app.js' %}"></script>
        <script src="{% static 'angular/js/services.js' %}"></script>
        <script src="{% static 'angular/js/controllers.js' %}"></script>
    {% endcompress %}
    <!-- Scripts End -->

    <!-- CSS Start -->
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'angular/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'angular/css/app.css' %}">
    {% endcompress %}
    <!-- CSS End -->

</head>

<body ng-app="unitime" style="" ng-controller="unicontrol">



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" data-toggle="modal" data-target="#unitimeInfoModal">UniTime</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
            <li><a type="button" class="btn btn-warning" data-toggle="modal" data-target="#addCourseModal">Add course</a></li>
            <ul class="list-inline nav navbar-nav" ng-repeat="course in selected_courses">
                <li><a type="button" class="btn btn-primary" ng-click="courseDetail(course)" data-toggle="modal" data-target="#courseModal">[[course.course_code]]</a></li>
            </ul>
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!-- Cookie Message and first time visit -->
<div ng-if="cookie_accepted === undefined || cookie_accepted === 'f'">

    <div id="cookie_message" class="alert alert-danger alert-dismissible" role="alert" align="center" style="margin-top: -12pt;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>This service is based on cookies, by using it you accept that we store cookies!</strong>
        <a href="https://www.pts.se/sv/Bransch/Regler/Lagar/Lag-om-elektronisk-kommunikation/Cookies-kakor/Fragor-och-svar-om-kakor-for-webbplatsinnehavare/">More info!</a>
    </div>

    <div align="center" style="margin-top: -12pt;">
        <div class="jumbotron">
            <h1>Welcome to UniTime!</h1>
            <p>This is a service that lets you check your schedule fast and easy.</p>
            <p>The group behind this service are students at LNU.</p>
            <p><button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addCourseModal">Add course</button></p>
        </div>

    </div>

</div>

<!-- Ajax loader -->
<div id="ajaxloader" align="center" style="margin-top: 60pt" hidden>
    <img  src="{% static 'angular/gif/ajax-loader.gif' %}">
</div>

            <!-- Events -->
            <div class="container">

                <div id="date_today" class="well well-sm" align="center" style="margin-top: -17pt; font-weight: bold;">
                    Date today: [[date | date:'yyyy-MM-dd']]
                </div>

                <div style="margin-top: -15pt;" id="filterCoursesForm">
                    <!-- Filter Courses Input -->
                    <form class="form-inline">
                        <input type="text" class="form-control" ng-model="filterEvents" placeholder="Filter event" style="width: 100%">
                    </form><!-- Filter Courses Input End -->
                </div>

                <ul class="list-group">
                    <div ng-repeat="event in events | orderBy: 'start_datetime' | filter: filterEvents">


                            <div class="well">
                                <div ng-if="event.teacher == 'Tobias Andersson-Gidlund'" align="center">
                                    <img style="width: 25pt; height: 25pt;" src="http://orig07.deviantart.net/49e8/f/2010/331/1/2/darth_vader_icon_256x256_by_geo_almighty-d33pmyi.png">
                                </div>
                                <div class="row" align="center" style="margin-top: -10pt;">
                                    <h3>[[ event.name_en ]]</h3>
                                </div>

                                <div class="row">

                                    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" align="left">
                                        <div class="row">
                                            <div ng-if="event.room.length < 2"><b>Room:</b> Not available</div>
                                            <div ng-if="event.room.length >= 2"><b>Room:</b> [[ event.room ]]</div>
                                        </div>

                                        <div class="row">
                                            <div ng-if="event.teacher.length < 2"><b>Teacher:</b> Not available</div>
                                            <div ng-if="event.teacher.length >= 2"><b>Teacher:</b> [[ event.teacher ]]</div>
                                        </div>

                                        <div class="row">
                                            <div ng-if="event.info.length < 2"><b>Info:</b> Not available</div>
                                            <div ng-if="event.info.length >= 2"><b>Info:</b> [[ event.info ]]</div>
                                        </div>

                                        <div class="row">
                                            <div ng-if="event.desc.length < 2"><b>Desc:</b> Not available</div>
                                            <div style="width:100px; word-wrap: break-word;" ng-if="event.desc.length >= 2"><b>Desc:</b> [[ event.desc ]]</div>
                                        </div>
                                    </div>


                                    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6" align="right">
                                        <div class="row">
                                            <b>[[event.day]]</b>
                                        </div>
                                        <div class="row">
                                            <b>[[event.starttime]]-[[event.endtime]]</b>
                                        </div>
                                        <div class="row">
                                            <b>[[event.startdate]]</b>
                                        </div>
                                    </div>

                                </div>


                            </div>


                    </div>
                </ul>
            </div>




        <!-- Course info modal -->
        <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">[[ course_info.course_code ]]</h4>
              </div>
              <div class="modal-body" align="center" id="course_info_body">

                  <h4>[[ course_info.name_en ]]</h4>
                  <h4>[[ course_info.name_sv ]]</h4>
                  <h4>[[ course_info.course_points ]]</h4>
                  <h4>[[ course_info.course_speed ]]</h4>
                  <h4><a href="[[ course_info.syllabus_en ]]">Syllabus SV</a></h4>
                  <h4><a href="[[ course_info.syllabus_sv ]]">Syllabus EN</a></h4>
                  <h4><a href="[[ course_info.url ]]">Course page</a></h4>
              </div>

              <div class="modal-footer" id="course_info_footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <!--<button ng-click="removeCourse(course_info)" type="button" class="btn btn-danger">Delete</button>-->
                  <button onclick="hide_course_info_and_show_course_rate()" type="button" class="btn btn-danger">Delete</button>
              </div>

                <div class="modal-body" id="course_rate_form">

                    <form id="ratingform" align="center">
                        <div align="center"><h3>Please rate the course:</h3></div>
                        <label for="sel1">Rating:</label>
                        <select class="form-control" id="sel1" ng-model="rateIn" style="max-width: 100%">

                            <option value="10">10 - Good</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                            <option value="7">7</option>
                            <option value="6">6</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1 - Bad</option>

                        </select>
                        <label for="sel2">Note:</label>
                        <textarea class="form-control" id="sel2" rows="3" ng-model="textIn"></textarea>
                    </form>
                </div>

                <div class="modal-footer" id="course_rate_footer">
                    <button type="button" onclick="back_to_info()" class="btn btn-primary">Backto info</button>
                    <button type="button" ng-click="removeCourse(course_info)" onclick="back_to_info()" class="btn btn-danger" data-dismiss="modal">Skip</button>
                    <button type="buttin" ng-click="rateCourse(course_info, [[ course_info.course_code ]], [[rateIn]], [[textIn]])" onclick="closeCourseModal()" class="btn btn-success">Send</button>
                </div>

            </div>
          </div>
        </div> <!-- Add course modal end -->



        <!-- Add course Modal -->
        <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add course</h4>
              </div>
              <div class="modal-body">

                  <!-- Message -->
                    <div id="alert_message" class="alert alert-success alert-dismissible" role="alert" align="center">
                      <button type="button" class="close" aria-label="Close" onclick="closeAlertMessage()"><span aria-hidden="true">&times;</span></button>
                      <strong>[[message]]</strong>


                    </div>

                        <!-- Filter Courses Input -->
                        <form class="form-inline">
                            <input type="text" class="form-control" ng-model="filterCourses" placeholder="Filter course" autofocus style="width: 100%">
                        </form><!-- Filter Courses Input End -->

                  <div class="modal-body-content">
                                <div ng-repeat="course in courses | filter : filterCourses">
                                    <div class="well well-sm" align="center" style="margin-bottom: -1pt">
                                        <h4>
                                        [[course.course_code]]
                                        </h4>
                                        <p>[[course.name_en]]</p>
                                        <p>[[course.name_sv]]</p>
                                            <button type="button" class="btn btn-primary" ng-click="getCourse(course.course_code)">
                                                Add
                                            </button>
                                    </div>
                                </div>
                      </div>

              </div>
            </div>
          </div>
        </div> <!-- Add course modal end -->


        <!-- UniTime info modal -->
        <div class="modal fade" id="unitimeInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">About UniTime</h4>
              </div>
              <div class="modal-body">

                  UniTime is a service made by Kodkollektivet!
                  Kodkollektivet is a group of students from LNU.
                  If you wanna join us or have interest in our projects.
                  Please visit us at: <a href="http://www.kodkollektivet.se">Kodkollektivet</a>

              </div>

                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>

            </div>
          </div>
        </div> <!-- Add course modal end -->

<script>
    $('#alert_message').hide();

    $('#date_today').hide();
    $('#filterCoursesForm').hide();
    $('#course_rate_form').hide();
    $('#course_rate_footer').hide();

    var hide_course_info_and_show_course_rate = function(){
        $('#course_rate_form').show();
        $('#course_rate_footer').show();
        $('#course_info_body').hide();
        $('#course_info_footer').hide();
    };

    var back_to_info = function(){
        $('#course_rate_form').hide();
        $('#course_rate_footer').hide();
        $('#course_info_body').show();
        $('#course_info_footer').show();
    };

    var openAlertMessage = function() {
        $('#alert_message').show();
    };

    var closeCourseModal = function(){
        $('#courseModal').modal('toggle');
        $('#sel2').val("");
        $('#sel1').val(5);
        back_to_info();

    }

    var closeAlertMessage = function() {

        window.setTimeout(function() {
            $("#alert_message").fadeTo(500, 0).slideUp(500, function(){
                $(this).fadeTo(0,500);
                $(this).hide();
            });
        }, 2000);
    };


    $('#addCourseModal').on('show.bs.modal', function () {
        $('.modal-body-content')
                .css('height',$( window ).height()*0.70)
                .css('overflow', 'scroll')
                .css('overflow-x', 'hidden');
    });

    var datetime = new Date().toLocaleString();
    //var datetime_str = datetime.getMonth()+datetime.getDay();
    //console.log(datetime);


</script>

</body>
</html>




