{% load staticfiles %}
<!DOCTYPE html>
<html style="height: 100%; margin: 0; padding: 0;">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniTime</title>

    <!-- Scripts Start -->
    <script src="{% static 'angular/js/lib/jquery-2.1.4.min.js' %}"></script>

    <script src="{% static 'angular/js/lib/angular.js' %}"></script>
    <script src="{% static 'angular/js/lib/angular-route.js' %}"></script>
    <script src="{% static 'angular/js/lib/angular-resource.js' %}"></script>
    <script src="{% static 'angular/js/lib/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'angular/js/lib/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'angular/js/lib/angular-cookies.js' %}"></script>
    <script src="{% static 'angular/js/lib/angular-ui-tinymce.js' %}"></script>

    <script src="{% static 'angular/js/lib/bootstrap.min.js' %}"></script>

    <script src="{% static 'angular/js/lib/tinymce.min.js' %}"></script>

    <script src="{% static 'angular/js/lib/underscore-min.js' %}"></script>

    <script src="{% static 'angular/js/app.js' %}"></script>
    <script src="{% static 'angular/js/services.js' %}"></script>
    <script src="{% static 'angular/js/controllers.js' %}"></script>


    <!-- Scripts End -->

    <!-- CSS Start -->
    <link rel="stylesheet" type="text/css" href="{% static 'angular/css/bootstrap.css' %}">
    <!-- CSS End -->

</head>
<body ng-app="unitime" style="height: 100%; margin: 0; padding: 0;">



    <!-- Coockies warning -->
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            <!--This service is based on coockies, by using this service you agree that we store coockies in you browneye.-->
        </a>
    </div>





        <div ng-controller="unicontrol">

            <div class="container">
            <div class="row">
                <h3>Cookies</h3>
                <pre>[[ list|json]]</pre>
            </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div ng-repeat="course in selected_courses">
                    <a ng-click="removeCourse(course)">
                        [[ course.name_sv ]]
                    </a>
                </div>
            </div>

            <!-- Courses -->
            <div class="col-lg-6 col-md-6">

                <!-- Filter Courses Input -->
                <form class="form-inline">
                    <input type="text" class="form-control" ng-model="filterCourses" placeholder="Filter course" autofocus style="width: 100%">
                </form><!-- Filter Courses Input End -->
                <div class="list-group" style="height: 200pt; overflow: scroll; overflow-x: hidden;">
                    <div ng-repeat="course in courses | filter : filterCourses">
                        <div ng-if="$index % 2 == 0">
                            <a href="" class="list-group-item list-group-item-success" ng-click="getCourse(course.course_code)" style="color: black;">
                                ([[course.course_code]]) [[ course.name_en ]]
                            </a>

                        </div>
                        <div ng-if="$index % 2 != 0">
                            <a href="" class="list-group-item list-group-item-danger" ng-click="getCourse(course.course_code)" style="color: black;">
                                ([[course.course_code]]) [[ course.name_en ]]
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- Courses Ends -->

            <!-- Events -->
            <div class="col-lg-6 col-md-6">
                <ul class="list-group" style="height: 300pt; overflow: scroll; overflow-x: hidden;">
                    <div ng-repeat="event in events | orderBy: 'startdate'">

                        <div ng-if="$index % 2 == 0">
                            <li class="list-group-item list-group-item-warning" style="color: black;">
                                <div>[[ event.info ]]</div>
                                <div>[[ event.startdate ]]</div>
                                <div>[[ event.room ]]</div>
                            </li>
                        </div>
                        <div ng-if="$index % 2 != 0">
                            <li class="list-group-item" style="color: black;">
                                <div>[[ event.info ]]</div>
                                <div>[[ event.startdate ]]</div>
                                <div>[[ event.room ]]</div>
                            </li>
                        </div>

                    </div>
                </ul>
            </div>

              <!--<h3>Cookies</h3>-->
            <!--<pre>[[ list|json]]</pre>-->



        </div>



</body>
</html>




